/* line 96, icon/*.png */
.icon-sprite, .icon-about, .icon-clear, .icon-clouds, .icon-home, .icon-rain, .icon-snow, .icon-thunderstorm {
  background-image: url('../img/icon-s9d4dbf877c.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-about {
  background-position: 0 0;
  height: 32px;
  width: 32px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-clear {
  background-position: 0 -104px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-clouds {
  background-position: 0 -64px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-home {
  background-position: 0 -32px;
  height: 32px;
  width: 32px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-rain {
  background-position: 0 -144px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-snow {
  background-position: 0 -184px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-thunderstorm {
  background-position: 0 -224px;
  height: 40px;
  width: 40px;
}

/* line 5, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

/* line 23, ../sass/style.scss */
body {
  color: #8f99b7;
  font-family: "Ubuntu";
  font-size: 16px;
  background-color: #1f253d;
}

/* line 29, ../sass/style.scss */
i {
  display: inline-block;
}

/* line 30, ../sass/style.scss */
h1 {
  font-size: 28px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  margin: 45px 0;
  display: none;
}

/*------------------------------------------------*\
              INTERFACE
\*------------------------------------------------*/
/* line 42, ../sass/style.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  background-color: #11a7ab;
}

/* line 54, ../sass/style.scss */
.view {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  left: 0;
}

/* line 61, ../sass/style.scss */
.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #4F597B;
  overflow: hidden;
}
/* line 73, ../sass/style.scss */
.nav a {
  display: block;
  width: 50%;
  float: left;
  height: 60px;
  line-height: 60px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 81, ../sass/style.scss */
.nav a:first-child {
  border-right: 1px solid #1f253d;
}
/* line 84, ../sass/style.scss */
.nav .active {
  border-top: 3px solid #11a7ab;
}
/* line 87, ../sass/style.scss */
.nav i {
  margin-top: 15px;
}

/* line 91, ../sass/style.scss */
.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 103, ../sass/style.scss */
.panel-padding {
  padding: 25px 25px;
}

/* line 107, ../sass/style.scss */
.left {
  -moz-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  -webkit-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0);
}

/* line 110, ../sass/style.scss */
.center {
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

/* line 113, ../sass/style.scss */
.right {
  -moz-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  -webkit-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0);
}

/* line 116, ../sass/style.scss */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
  zoom: 1;
  background-image: url(../img/loading.gif);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 134, ../sass/style.scss */
.back {
  text-align: center;
  position: absolute;
  z-index: 2;
  color: #1f253d;
  height: 30px;
  width: 30px;
  line-height: 25px;
  border: 2px solid #1f253d;
  border-radius: 50%;
  top: -45px;
  left: 10px;
  font-weight: bold;
}

/*----------------------------------------*\
                HOME
\*----------------------------------------*/
/* line 152, ../sass/style.scss */
form {
  text-align: right;
}

/* line 155, ../sass/style.scss */
input.text {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #4F597B;
  color: #FFF;
  border: none;
  font-size: 16px;
  padding-left: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 167, ../sass/style.scss */
input.submit {
  width: 40%;
  height: 40px;
  font-size: 14px;
  border: none;
  background-color: #e74c3c;
  color: #FFF;
  margin-bottom: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 177, ../sass/style.scss */
.resultat {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  font-size: 20px;
  color: #FFF;
  background-color: #c0392b;
  text-align: center;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 188, ../sass/style.scss */
.row {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #4F597B;
  margin-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
/* line 198, ../sass/style.scss */
.row .temperature, .row .date, .row i, .row p {
  display: inline-block;
}
/* line 201, ../sass/style.scss */
.row .temperature {
  float: right;
  color: #FFF;
  font-size: 20px;
}
/* line 206, ../sass/style.scss */
.row .date strong {
  color: #FFF;
}
/* line 209, ../sass/style.scss */
.row i {
  float: left;
  margin-top: 10px;
}
/* line 213, ../sass/style.scss */
.row p.description {
  display: none;
}

/* line 217, ../sass/style.scss */
.row_active {
  height: 120px;
  background-color: #e74c3c;
  color: #FFF;
  position: relative;
}
/* line 222, ../sass/style.scss */
.row_active .date {
  line-height: 120px;
  width: 100%;
}
/* line 226, ../sass/style.scss */
.row_active .temperature {
  position: absolute;
  font-size: 38px;
  line-height: 120px;
  right: 10px;
}
/* line 232, ../sass/style.scss */
.row_active i {
  position: absolute;
  top: 25px;
  left: 10px;
}
/* line 237, ../sass/style.scss */
.row_active p.description {
  display: block;
  color: #FFF;
  text-align: left;
  font-size: 14px;
  font-style: italic;
  position: absolute;
  bottom: 5px;
  left: 10px;
}
